/*General*/

*,
*:after,
*:before {
	content: '';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.page,
html {
	animation: opacity 2s;
	width: 100%;
}

@keyframes opacity {
	from {opacity: 0}
	to{opacity: 1}
}

@keyframes width {
	from{width: 0;}
	to{width: 100%;}
}

/*All cells*/

.page__row {
	width: 100%;
}

.page__cell {
	max-width: 1260px;
	margin: 0 auto;
}

#top {
	height: 100%;
	background-image: url('images/main_bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Header*/

.header {
	display: flex;
	background-color: #000d;
	justify-content: space-between;
	position: fixed;
	width: 100%;
}

.header__logo {
	padding: 1rem;
	cursor: pointer;
}

.nav__item {
	border-bottom: 2px solid #0000;
	transition: ease 0.5s;
	display: inline-block;
	padding: 1rem;
	cursor: pointer;
}

.nav__item:hover {
	border-bottom: 2px solid #dfff0d;
}
.nav__item:hover .nav__link {
	color: #dfff0d;
}

.nav__link {
	text-transform: uppercase;
	transition: ease 0.5s;
	text-decoration: none;
	color: white;
	font: 16px sans-serif;
}

/*Intro*/

.top {
	background-color: #000;
}

.intro {
	padding-top: 5rem;
	display: grid;
	grid-template-columns: 2fr 2fr;
}

/*Text*/

.intro__bigText {
	padding: 1rem 0;
	color: white;
}

.intro__bigText--p {
	font: 28px sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}

.line {
	width: 5rem;
	height: 3px;
	margin-top: 2rem;
	background-color: #fff;
	border: 1px solid #fff0;
	border-radius: 10px;
}

.orange {
	background-color: #ff8b38;
}

.intro__smallText {
	color: #b8b5b5;
	padding: 2rem 0;
}

.intro__smallText--p {
	font: 18px sans-serif;
}

/*Download button*/

.intro__download {
	margin: 1rem 0;
}

.intro__download--btn {
	padding: 0.8rem 1.9rem;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	transition: ease 0.5s;
}

.intro__download--btn:hover {
	background-color: #ef7608;
	border: 2px solid #ef7608;
}

/*Registration form*/

.intro__register {
	grid-row: 1/6;
	grid-column: 2;
	align-self: center;
	justify-self: center;
	width: 17rem;
	height: 18rem;
	text-align: center;
	border: 1px solid #0000;
	border-radius: 5px;
	background-color: #fff;
}

.trial {
	background-color: #f5f5f5;
	text-transform: capitalize;
	color: #333;
	font: 20px sans-serif;
	padding: 1rem 0;
}

.free {
	color: #fda261;
	text-transform: uppercase;
}

.form {
	margin: 1rem 0;
}

.form input {
	display: block;
	background-color: #fff;
	border: none;
	padding: 1rem;
}

/*Get started link*/

.start {
	padding: 1rem;
	background-color: #ff9b51;
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.start__link {
	color: #fff;
	text-transform: capitalize;
	font: 18px sans-serif;
	text-decoration: none;
}

/*Main content*/

.main {
	background-color: #fff;
}

.main__media {
	display: flex;
	justify-content: space-around;
	padding: 1rem 0;
}

.white {
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
}

.grey {
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}

.media__text {
	padding: 0 2rem;
	flex: 0.5;
}

.bold {
	color: #363636;
	font: 18px sans-serif;
	font-weight: bolder;
}

.fish {
	color: #acadb0;
	font: 16px sans-serif;
}

.media__icon {
	padding: 5px;
}

.media__icon a img {
	width: 3rem;
	height: 3rem;
}
/*Tabs*/

.tab_container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 9rem 6rem;
}

.tab_btn {
	grid-row: 1/6;
	grid-column: 1;
}

.tab_button {
	display: block;
	background-color: #333;
	padding: 2rem 1.5rem;
	border: none;
	margin: 1px 0;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	transition: ease 0.5s;
}

.tab_button:hover {
	background-color: #ff8b38;
}

.tab_button:focus {
	outline: none;
	background-color: #ff8b38;
}

.tab_button:first-child  {
	border-top: 1px solid transparent;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}


.tab_button:last-child  {
	border-bottom: 1px solid transparent;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tab_content {
	grid-row: 1/6;
	display: none;
	justify-self: center;
}

.show {
	animation: opacity 1s;
	display: block;
}

.tab_heading {
	color: #020202;
	font: 24px sans-serif;
	font-weight: bolder;
	padding-bottom: 2rem;
}

.tab_text {
	color: #afb0b2;
	font: 16px sans-serif;
	padding: 1rem 2rem 1rem 0;
}

.download_btn {
	padding: 0.7rem 1.5rem;
	background-color: #ff8b38;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: ease 0.5s;
}

.download_btn:hover {
	background-color: #333;
}

.right_image {
	padding: 2rem 0 2rem 4rem;
}

/*Image sections*/

.list_container {
	padding: 9rem 6rem;
	display: flex;
	justify-content: space-around;
}

.sub_list {
	padding-left: 4rem;
}

.list_heading {
	color: #222;
	font: 22px sans-serif;
	font-weight: bolder;
}

.list_subheading {
	color: #464646;
}

.list_image_text {
	padding-left: 2rem;
}

.list_text {
	color: #999;
	font: 16px sans-serif;
	padding: 1.5rem 2rem 1.5rem 0;
}

.list_text--p {
	color: #999;
	font: 16px sans-serif;
	padding: 0 2rem 1.5rem 0;
}

.list {
	justify-content: space-between;
	display: flex;
}

.left_image img{
	box-shadow: 0 0 2rem black;
}

/*About section*/

.main__content {
	text-align: center;
	padding: 6rem;
}

.main__heading {
	color: #333;
	text-transform: uppercase;
	font: 30px "Raleway";
}

.main__subheading {
	color: #999;
	font: 16px sans-serif;
}

.icon_container {
	display: flex;
	padding-top: 5rem;
}

.icons__title {
	color: #333;
	font: 20px sans-serif;
	font-weight: bolder;
	padding: 2rem 0;
}

.icons__text {
	color: #999;
	font: 16px sans-serif;
}

/*Pricing*/

.price_card_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 5rem;
}

.price_card {
	width: 20rem;
	cursor: pointer;
	transition: ease 0.5s;
	animation: width 1s;
	box-shadow: 0 0 1rem #000;
}

.price_card:hover {
	box-shadow: 0 0 4rem #000;
}

.package_name {
	background-color: #333;
	color: #fff;
	padding: 1rem 0;
	font: 18px sans-serif;
	font-weight: bolder;
	border-bottom: 3px solid #aaa;
}

.price {
	background-color: #333;
	color: #fff;
	padding: 1rem 0;
	font: 56px sans-serif;
	font-weight: bolder;
}

.payment {
	background-color: #333;
	color: #999;
	font: 18px sans-serif;
	font-style: italic;
	padding: 1rem 0;
}

.blank {
	background-color: #ff8b38;
	color: white;
	padding: 0.2rem 0;
	text-transform: uppercase;
	font: 18px sans-serif;
	font-weight: bolder;
}

.describe {
	color: #999;
	text-transform: uppercase;
	background-color: #fff;
	padding: 0.7rem 0;
	font: 16px sans-serif;
}

.bd {
	border-bottom: 1px solid #e8e8e8;
}

.review_container {
	display: flex;
	justify-content: space-between;
	padding-top: 5rem;
}

.review__text {
	padding: 3rem;
	margin: 1rem;
	color: #999;
	background-color: #f5f5f5;
	text-align: left;
}

.reviewer {
	display: inline-block;
}

.reviewer__avatar {
	width: 4rem;
	height: 4rem;
	padding-top: 2rem;
	border: 1px solid #555;
	border-radius: 50%;
	background-color: #555;
	display: inline-block;
}

.reviewer__name {
	font: 24px sans-serif;
	color: #333;
	font-weight: bolder;

}

.reviewer__job {
	color: #999;
	font: 18px sans-serif;
	text-align: left;
}

/*Footer*/

.footer {
	background-color: #111;
}

.social {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 2rem;
}

.footer_icon a img{
	width: 2rem;
	height: 2rem;
}

.copyright {
	padding: 1rem 0;
	text-align: center;
	color: #fff;
}

.contact {
	display: flex;
	justify-content: space-around;
}

.contact input {
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid transparent;
	outline: none;
	margin: 1.5rem 0;
	padding: 1rem 0;
	transition: ease 0.5s;
}

.contact input:focus {
	border-bottom: 1px solid #333;
}

#text {
	resize: none;
	border: 1px solid transparent;
	outline: none;
	overflow: auto;
	margin-top: 1.5rem;
	background-color: #f5f5f5;
	transition: ease 0.5s;
}

#text:focus {
	border: 1px solid #333;
}